
/*************************************
            Navaigation
**************************************/
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: 0px;
    padding: 0px;
    margin-bottom: -6px;
    background-color: #562EFF;

}
.navigation .logo{
    display: flex;
    margin-left: 20%;
    
}


.navigation li{
    display: flex;
    margin-right: 25px; 
    list-style: none;
}
.navigation .navber{
    display: flex;
    align-items: center;
    margin-right: 18%;
}

ul li a{
    text-decoration: none;
    color:white;
}
